{% extends 'base.html' %}
{% block styles %}
<style>
    body, html {
      height: 100%;
    }

    .messages-box {
      flex: 1;
      overflow-y: auto;
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
    }

    .msg-sent {
      background-color: #e47878;
      color: #0d0d0d;
      border: solid 1px;
      border-radius: 5px;
      align-self: flex-end;
    }

    .msg-received {
      background-color: #a1fbbf;
      border: solid 1px;
      border-radius: 5px;
      align-self: flex-start;
      color: rgb(10, 10, 10);
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 0;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <div class="card-header bg-alert text-black text-center font-bold"><b>Your personal Chatbot AI</b> </div>
    {% if user.is_authenticated %}
    <div class="card-header  text-black"><b>Welcome, {{user.username}}</b>   <a style="color: rgb(30, 37, 224);" href="logout">Logout</a></div>
    {% else %}
    <div class="card-header bg-black text-black "><a style="  color: rgb(12, 81, 101)" href="login">Login</a>   <a style="color: yellow;" href="register">Register</a></div>
    {% endif %}
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
        <li class="message msg-received">
          <div class="message-text">
            <div class="message-sender">
              <b>Chatbot</b>
            </div>
            <div class="message-content">
              Hi {{user.username}}, What Can I do for you??
            </div>
          </div>
        </li>

        {% for chat in chats %}
          {% if chat.user == request.user %}

            <li class="message msg-sent">
          <div class="message-text">
            <div class="message-sender">
              <b>You</b>
            </div>
            <div class="message-content">
              {{chat.message}}
            </div>
          </div>
        </li>

        <li class="message msg-received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              {{chat.response}}
            </div>
          </div>
        </li>

          {% endif %}
        {% endfor %} 
      </ul>
    </div>
    <br><br>
   
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Send</button>
      </div>
    </div>
  </form>
</div>

<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'msg-sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>You</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'msg-received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>`;
        messagesList.appendChild(messageItem);
      });
  });

</script>
{% endblock %}